{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block body %}
<div class="container-fluid py-5 text-center" id="gradient_index">
    <h1 class="position-absolute top-50 start-50 translate-middle"
        style="font-family:'Audiowide', sans-serif; color: #1DB954 ">
        <p>WELCOME TO WRAPPIFY!</p>
        <p class="text">Created by AndreiAP28.</p>
    </h1>
</div>
{% endblock %}

<!--
    GREEN
    #1DB954

    WHITE
    #FFFFFF

    BLACK
    #191414

    samp clr
    green
    #7fff00

    BLUE
    #0000cd


-->